.title-header {
    width: auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 50px;
}

.calendar-box {
    padding-top: 15px;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #95a5a6;
    border-radius: 3px;
    width: 500px;
    height: 600px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: scroll;
    margin: 10px;

}

.calendar-outer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.calendar-square {
    min-width: 180px;
    border: 2px solid grey;
    border-radius: 3px;
    height: 140px;
    margin: 10px;
    -webkit-box-shadow: 3px 3px 17px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 17px -2px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 17px -2px rgba(0,0,0,0.75);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgba(128, 121, 121, .2);
    position: relative;
}

.calendar-square:hover {
    transform: translateY(-5px) translateZ(100px);
    cursor: crosshair;
}

.date {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 10px;
    margin-top: 5px;
}

#rateColor {
    position: absolute;
    width: 50px;
    height: 50px;
    bottom: 0;
    right: 0;
    text-align: center;
    vertical-align: middle;
}

.date-label {
    margin: 3px 0px 3px 15px;
    font-size: 16px;
    font-family: cursive;
}
.date-label:first-child {
    margin-top: 15px;
}

.date-number {
    color: #34495e;
}

.rate-input-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.submit-rate {
    display: block;
    margin: auto;
    font-size: 16px;
    width: 280px;
    background-color: rgba(	236, 240, 241, .5);
    border-radius: 4px;
}

.submit-rate:hover {
    cursor: pointer;
}

.form-textbox {
    margin: 8px;
    padding: 3px;
    line-height: 24px;
}

.hexValue {
    min-width: 180px;
    height: 140px;
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    background-color: black;
    opacity: 0;
    color: white;
    line-height: 5;
    text-align: center;
    font-size: 25px;
}

.hexValue:hover {
    opacity: 0.8;
    z-index: 10;
}

@media (min-width: 720px) {
    .calendar-box {
        width: 800px;
    }
}

@media (max-width: 332px) {
    .submit-rate {
        width: 140px;
        font-size: 14px;
    }
}
